*{
    font-family: "Montserrat", sans-serif;
    background-color: #21273D;
    color: #F1F6F8;
}

body{
    text-align: center;
    margin: 0;
    display: block;
    
}

.city{
    height: 60vh;
    width: 100%;
    border: 0;
}

a{
    color: #F1F6F8;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
.once{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    border-radius: 50%;
    width: 25vh;
}

.middle{
    height: 100vh;
}

.btn{
    padding: 5px;
    margin: 10px;
    border: 5px;
    background-color: #21273D;
    color: #F1F6F8;
    border-radius: 10%;
}

.footer{
    margin: 30px;
}